$color-red: #c60404;
$color-green: #319f6f;
$color-background: #b3bde0;
$color-purple: #A49DEA;
$color-white-background: #F4F3FA;
$color-white-bone: #f2f2f2;
$color-blue-hover: #2d9ffd;
$color-blue-active: #0e7fdc;
$color-blue: #088EFA;
$color-white: #FFFFFF;
$main-gray: #4D4D4D